Import libarary for projects

In [1]:
import pandas as pd
import numpy as np
import keras
from keras.models import Sequential
from keras.layers import Dense
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt

Using TensorFlow backend.

Download dataset using for projects

In [2]:
concrete_data = pd.read_csv('https://cocl.us/concrete_data')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

Drop some columns that is not essential and Get data for targets

In [3]:
targets=concrete_data['Strength'] # target to predict
predictors = concrete_data.drop(['Age','Strength'],axis=1) #skip columns that are not features
predictors.head() # display data to test

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5

<b> A. Build a baseline model </b>
(Hidden layers consist 10 nodes, loss is mean_squared_error, optimizer is adam)

Normalize data before going to process

In [4]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569

In [5]:
n_cols=predictors_norm.shape[1]
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error',metrics=["accuracy"])
    return model

In [6]:
# prepare model to train
model = regression_model()

WARNING:tensorflow:From /opt/conda/envs/Python36/lib/python3.6/site-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

1.Split data set into test and train datasets

In [7]:
x_train,x_test,y_train,y_test=train_test_split(predictors_norm, targets, test_size=0.3)# not indicate rand_state to make sure it is generated randomly

2.Traing model with epochs=50

In [8]:
# train the model
model.fit(x_train, y_train, epochs=50, verbose=2)

WARNING:tensorflow:From /opt/conda/envs/Python36/lib/python3.6/site-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/50
 - 1s - loss: 1510.8302 - acc: 0.0000e+00
Epoch 2/50
 - 0s - loss: 1495.7696 - acc: 0.0000e+00
Epoch 3/50
 - 0s - loss: 1480.4034 - acc: 0.0000e+00
Epoch 4/50
 - 0s - loss: 1464.6225 - acc: 0.0000e+00
Epoch 5/50
 - 0s - loss: 1448.2240 - acc: 0.0000e+00
Epoch 6/50
 - 0s - loss: 1430.8675 - acc: 0.0000e+00
Epoch 7/50
 - 0s - loss: 1412.5197 - acc: 0.0000e+00
Epoch 8/50
 - 0s - loss: 1393.4449 - acc: 0.0000e+00
Epoch 9/50
 - 0s - loss: 1373.0543 - acc: 0.0000e+00
Epoch 10/50
 - 0s - loss: 1352.0833 - acc: 0.0000e+00
Epoch 11/50
 - 0s - loss: 1329.7936 - acc: 0.0000e+00
Epoch 12/50
 - 0s - loss: 1306.6468 - acc: 0.0000e+00
Epoch 13/50
 - 0s - loss: 1282.0799 - acc: 0.0000e+00
Epoch 14/50
 - 0s - loss: 1256.4771 - acc: 0.0000e+00
Epoch 15/50
 - 0s - loss: 1230.1754 - acc: 0.0000e+00
Epoch 16/50
 - 0s - loss: 1202.9278 - acc: 0.0000e+00
Epoch 17/50
 - 0s - loss: 1174.7570 - acc: 0.0000e+00
Epoch 18/50
 - 0s - loss: 1146.2604 - acc: 0.0000e+00
Epoch 19/50
 - 0s - loss: 1116.3546 - acc: 0.0000e+00
Epoch 20/50
 - 0s - loss: 1086.4747 - acc: 0.0000e+00
Epoch 21/50
 - 0s - loss: 1055.4720 - acc: 0.0000e+00
Epoch 22/50
 - 0s - loss: 1024.1671 - acc: 0.0000e+00
Epoch 23/50
 - 0s - loss: 991.9407 - acc: 0.0000e+00
Epoch 24/50
 - 0s - loss: 960.2564 - acc: 0.0000e+00
Epoch 25/50
 - 0s - loss: 927.1675 - acc: 0.0000e+00
Epoch 26/50
 - 0s - loss: 895.0499 - acc: 0.0000e+00
Epoch 27/50
 - 0s - loss: 862.6110 - acc: 0.0000e+00
Epoch 28/50
 - 0s - loss: 830.0939 - acc: 0.0000e+00
Epoch 29/50
 - 0s - loss: 798.3473 - acc: 0.0000e+00
Epoch 30/50
 - 0s - loss: 767.0212 - acc: 0.0000e+00
Epoch 31/50
 - 0s - loss: 735.5332 - acc: 0.0000e+00
Epoch 32/50
 - 0s - loss: 705.2823 - acc: 0.0000e+00
Epoch 33/50
 - 0s - loss: 675.9757 - acc: 0.0000e+00
Epoch 34/50
 - 0s - loss: 647.0042 - acc: 0.0000e+00
Epoch 35/50
 - 0s - loss: 619.2365 - acc: 0.0000e+00
Epoch 36/50
 - 0s - loss: 592.4053 - acc: 0.0000e+00
Epoch 37/50
 - 0s - loss: 567.3881 - acc: 0.0000e+00
Epoch 38/50
 - 0s - loss: 542.4626 - acc: 0.0000e+00
Epoch 39/50
 - 0s - loss: 518.9450 - acc: 0.0000e+00
Epoch 40/50
 - 0s - loss: 496.6298 - acc: 0.0000e+00
Epoch 41/50
 - 0s - loss: 475.0733 - acc: 0.0000e+00
Epoch 42/50
 - 0s - loss: 454.8882 - acc: 0.0014
Epoch 43/50
 - 0s - loss: 435.5670 - acc: 0.0014
Epoch 44/50
 - 0s - loss: 417.5306 - acc: 0.0014
Epoch 45/50
 - 1s - loss: 400.7145 - acc: 0.0014
Epoch 46/50
 - 0s - loss: 384.9423 - acc: 0.0000e+00
Epoch 47/50
 - 0s - loss: 370.3580 - acc: 0.0000e+00
Epoch 48/50
 - 0s - loss: 356.2937 - acc: 0.0000e+00
Epoch 49/50
 - 0s - loss: 343.2133 - acc: 0.0000e+00
Epoch 50/50
 - 0s - loss: 331.1604 - acc: 0.0000e+00

3.Evaluate with data test

In [9]:
#evaluate on data test
scores=model.evaluate(x_test,y_test,verbose=0)
print('Accuracy is ',scores[1]*100)

# compute mean_squared_error
pred_test= model.predict(x_test)
print("Mse is:",np.sqrt(mean_squared_error(y_test,pred_test)))

Accuracy is  0.0
Mse is: 19.074052417627556

4. Repeat steps 1 - 3, 50 times

In [10]:
mse_list=[]
for x in range(50):
    #step 1
    x_train,x_test,y_train,y_test=train_test_split(predictors_norm, targets, test_size=0.3)
    
    #step 2
    print("Training step ",(x+1),"...")
    model.fit(x_train, y_train, epochs=50, verbose=0) # step 2
    
    #step 3:
    #evaluate on data test
    scores=model.evaluate(x_test,y_test,verbose=0)
    # compute mean_squared_error
    pred_test= model.predict(x_test)
    mse=np.sqrt(mean_squared_error(y_test,pred_test))   
    mse_list.append(mse)

Training step  1 ...
Training step  2 ...
Training step  3 ...
Training step  4 ...
Training step  5 ...
Training step  6 ...
Training step  7 ...
Training step  8 ...
Training step  9 ...
Training step  10 ...
Training step  11 ...
Training step  12 ...
Training step  13 ...
Training step  14 ...
Training step  15 ...
Training step  16 ...
Training step  17 ...
Training step  18 ...
Training step  19 ...
Training step  20 ...
Training step  21 ...
Training step  22 ...
Training step  23 ...
Training step  24 ...
Training step  25 ...
Training step  26 ...
Training step  27 ...
Training step  28 ...
Training step  29 ...
Training step  30 ...
Training step  31 ...
Training step  32 ...
Training step  33 ...
Training step  34 ...
Training step  35 ...
Training step  36 ...
Training step  37 ...
Training step  38 ...
Training step  39 ...
Training step  40 ...
Training step  41 ...
Training step  42 ...
Training step  43 ...
Training step  44 ...
Training step  45 ...
Training step  46 ...
Training step  47 ...
Training step  48 ...
Training step  49 ...
Training step  50 ...

5.Print the mean and the standard deviation of the mean squared errors.

In [12]:
print("Mean is %.2f%%  and STD is: (+/- %.2f%%)" % (np.mean(mse_list), np.std(mse_list)))

Mean is 11.78%  and STD is: (+/- 0.50%)